/* 共通 css */
:root {
    --main-bg-color: #F4F9FF;
    --sub-bg-color: #FFFFFF;
    --font-color: #333333;
    --border-color: #DEDEDE;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--main-bg-color);
    margin: unset;
}
main, header {
    max-width: 1000px;
    margin: 0 auto;
}
img {
    display: block;
    width: 100%;
}
h1, h2, h3, p {
    margin: unset;
}
h1 {
    width: 160px;
    padding-top: 60px;
    padding-bottom: 15px;
}
h2, h3 {
    font-family: Meiryo;
    font-weight: bold;
    font-size: 18px;
    color: var(--font-color);
    line-height: 1;
}
p, li, dt, dd, a, a:visited {
    font-family: Meiryo;
    font-size: 14px;
    color: var(--font-color);
    line-height: 1.2;
}
p.copy {
    font-size: 10px;
}
div.container {
    max-width: 600px;
    margin: 0 auto;
}


/* 小さい画面 */
header {
    padding-right: 10px;
    padding-left: 10px;
}
section.index {
    background-color: var(--sub-bg-color);
    margin-top: 60px;
    margin-bottom: 60px;
}


/* 大きい画面 */
@media (min-width: 1024px) {
header {
    padding: unset;
}
}
